<h1>My Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <li>
     <input type="checkbox" id="<%= task.id %>" <%= 'checked' if task.completed %> disabled>
        <label for="<%= task.id %>">
       <%= task.title %><br>
       <%= task.details %><br>
       <%= task.completed ? "Yes" : "No" %>
    </li>
  <% end %>
</ul>
